.bg {
    height: 100vh;
    background: #eee;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 2rem 6rem;
}

.main-board {
    background: #191A25;
    border-radius: 0 0 10px 10px;
    padding: 8px 16px;
    color: #E0F3FE;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.title {
    color: #E9FBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3D4151;
    height: 60px;
    border-radius: 10px 10px 0 0;
    padding: 40px;
}

#outputResult {
    overflow: scroll;
    height: 32em;
}

.nes-input {
    color: #E9FBFF;
    border-radius: 10px;
    background: #3D4151;
}

.nes-input:focus {
    outline: none;
}

::placeholder {
    color: #E9FBFF;
}

.os {
    color: #73AE98;
}

.at {
    color: #FAAF13;
}

.na {
    color: #FFFF93;
}
